<div *ngIf="planet" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ planet.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="planet.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Name</td>
              <td><strong>{{ planet.name }}</strong></td>
            </tr>
            <tr>
              <td>Position from the sun</td>
              <td><strong>{{ planet.orderToSun }} </strong></td>
            </tr>
            <tr>
              <td>Perihelion (Km)</td>
              <td><strong>{{ planet.perihelionInKm }}</strong></td>
            </tr>
            <tr>
              <td>Aphelion (Km)</td>
              <td><strong>{{ planet.aphelionInkm }} </strong></td>
            </tr>
            <tr>
              <td>averageDistanceInkm</td>
              <td><strong>{{ planet.averageDistanceInkm }}</strong></td>
            </tr>
            <tr>
              <td>orbitalPeriodInDays</td>
              <td><strong>{{ planet.orbitalPeriodInDays }} </strong></td>
            </tr>
            <tr>
              <td>equatorialDiameterInKm</td>
              <td><strong>{{ planet.equatorialDiameterInKm }}</strong></td>
            </tr>
            <tr>
              <td>gasPlanet</td>
              <td><strong>{{ planet.gasPlanet }} </strong></td>
            </tr>
            <tr>
              <td>orbitalVelocityInKmPerSec</td>
              <td><strong>{{ planet.orbitalVelocityInKmPerSec }} </strong></td>
            </tr>
            <tr>
              <td>orbitalLenghtInKm</td>
              <td><strong>{{ planet.orbitalLenghtInKm }}</strong></td>
            </tr>
            <tr>
              <td>noumberOfMoons</td>
              <td><strong>{{ planet.noumberOfMoons }} </strong></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()">Retour</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!planet' class="center">No planet to display!</h4>
